{% extends "AppGarage/layout.html" %}
{% load static %}

{% block body %}
<div id="theStyles"></div>
<script>
    document.querySelector("#theStyles").innerHTML = `<link rel="stylesheet" href="{% static 'AppGarage/index.css' %}">`;
</script>

<script src="{% static 'AppGarage/layout.js' %}"></script>


<div id="modal-container" class="modal-container-style"></div>


<!-- END MODAL -->

<script>
    console.log('Layout JS')

    function fromIndex() {
        alert('from index' + allItemList)
        console.log('from index', allItemList)
    }

    function Create_ListItem(data) { //ITEM LIST
        dataPrice = data.price.toLocaleString();
        // console.log('Price: ', dataPrice[1])
        console.log('Price2: ', dataPrice)

        CreatedListItem.push(data)
        datas = ['category', 'description', 'link', 'owner', 'price', 'time', 'title'];
        insideDIV = `
        

            <img onclick="OpenModal('[${data.title}, ${data.price},${data.link},${data.description},${data.owner},${data.contact},${data.time},${data.category}]')" class="item-image" src="${data.link}">
            <button onclick="OpenModal('[${data.title}, ${data.price},${data.link},${data.description},${data.owner},${data.contact},${data.time},${data.category}]')"  class="item-price">₱ ${dataPrice}</button>    

            <br>
            `

        itemContainer = document.createElement('div');
        itemContainer.setAttribute("class", "item-Container");
        itemContainer.innerHTML = insideDIV;
        main_container.appendChild(itemContainer);
    }

    function Remove_ListItem() {
        toRemove = document.querySelector(".item-Container");
        console.log('To Remove: ', toRemove)
        toRemove.remove()
    }
    function Create_Advertisments() {
        adContainer = document.createElement('div');
        adContainer.setAttribute("class", "ad-container");
        adContainer.innerHTML = `    <img src="{% static 'AppGarage/adsample.png' %}">
`
        main_container.appendChild(adContainer)
    }
    async function SendRequest(url) {
        oldAd = document.querySelectorAll('.ad-container');
        oldAd.forEach(element => {
            element.remove();
        })
        oldList = document.querySelectorAll(".item-Container")
        oldList.forEach(element => {
            element.remove();
        });
        CreatedListItem = []
        allItemList = []
        var i = 0

        let Allresponse = await fetch(url).then(response => response.json()).then(data => {
            dataCount = data.length
            var interVal = setInterval(() => {
                allItemList.push(data[i])
                i++;
                if (i >= dataCount) { // The number to pop
                    clearInterval(interVal);
                }
            }, 100);
            return data
        })
    }




    //

    console.log('**** SENDING REQUEST ***')
    geturlListing = "{% url 'KuhainAngListing' categ='all' %}"
    SendRequest(geturlListing) // fetch url


    function OnloadItems() {
        toPopUp = 0
        var PoUp = setInterval(() => {

            toPopUp++;
            if (toPopUp >= 20) { // number of to pop
                console.log('Onload1')
                clearInterval(PoUp);

                Create_RandomListItem(allItemList)
                Create_Advertisments()
            } else {

                current = allItemList.shift()
                console.log('Current: ', current)
                if (current) {
                    console.log('Onload2')

                    Create_ListItem(current.fields);
                } else {
                    Create_RandomListItem(allItemList)
                }

            }

        }, 550)
    }
    var ListItemCount = 0
    function Create_RandomListItem(TheArray) {
        ListItemCount++;
        if (ListItemCount % 26 == 0) { //Make advertisement
            Create_Advertisments()
        }
        console.log(ListItemCount)
        ArrayLength = TheArray.length
        if (ArrayLength > 0) {
            toIndex = Math.floor(Math.random() * (ArrayLength - 0) + 0);
            if (TheArray[toIndex]) {
                indexPosition = TheArray.indexOf(TheArray[toIndex])
                Position = TheArray.splice(toIndex, 1)
                if (Position[0].fields) {
                    Position = Position[0].fields
                    // console.log('ye', Position)
                } else {
                    Position = Position[0]
                    // console.log('nep', Position)
                }
                console.log('Re Iterate')
                Create_ListItem(Position)
                return Position
            }
            console.log('No still got:  ', ArrayLength)
            Create_RandomListItem(TheArray)
        } else {
            console.log('/n Empty.. /n Creating From CreatedListItem', ArrayLength, TheArray)
            console.log('ELEMENT: ',)
            if (CreatedListItem.length > 0) {
                console.log('Still Going')
                Create_RandomListItem(CreatedListItem)
            } else {
                console.log('Returning')
                return
            }


        }
    }




    // INITIATE THIS TO ADD
    // Create_RandomListItem(allItemList)





    // document.body.onscroll = console.log('asd')
    window.onscroll = () => {

        if (window.innerHeight + window.scrollY >= document.body.offsetHeight) {
            // Remove_ListItem()
            console.log('onscroll')
            Create_RandomListItem(allItemList)
        }
    };



    var modal = document.getElementById("modal-container");
    var span = document.getElementsByClassName("close")[0];

    // MAKING MODAL
    // MAKING MODAL
    // MAKING MODAL
    function SendMessage(data) {
        data = data.split(',')
        theMessage = document.querySelector("#message-contact").value;
        theTitle = data[1]
        theContact = data[0]
        thePrice = data[2]
        theSender = document.querySelector("#message-sender").value;
        console.log(data)
        // 
        Email.send({
            Host: "smtp.elasticemail.com",
            Username: "repapaka20@gmail.com",
            Password: "20B28409FAB2EC360F970DEBC62ACB854E4B",
            To: 'dayo_john16@yahoo.com',
            From: "repapaka20@gmail.com",
            Subject: 'Gustong BUMILI *****',
            Body: 'BUYER: ' + theSender + ': ' + theMessage + ' | ' + '\n SELLER: ' + theContact + ' | ' + theTitle + ' P' + thePrice
        }).then(
            message => {
                alert('Naipada ang Iyong Mensahe', message)
            }
        );
        closeModal()
        // 
        // alert(theSender + theMessage + theTitle + theContact + thePrice)
    }
    function makeModalOf(data) {

        toReplace = document.querySelector("#content-of-modal")
        modalContactForm = `
    <h1 id="data-title">Mensahe mo sa Nag Bebenta</h1>
    <input id="message-sender" placeholder="Paano ka Makokontact">
        <textarea id="message-contact">Ang iyong gustong sabihin</textarea>
        <span onclick="closeModal()" class="close">&times;</span>
        <span><button class="toButton" onclick="SendMessage('${data}')">Ipadala ang Mensahe</button></span>
        `
        toReplace.innerHTML = modalContactForm
    }
    function OpenModal(data) {
        data = data.replace("[", "")
        data = data.replace("]", "")
        dataArray = data.split(',')
        modalPrice = parseInt(dataArray[1]).toLocaleString()
        modal.style.display = "block";
        // 
        modal_content = `
        <div class="modal-content">

            <span id="content-of-modal">
                <h1 id="data-title">${dataArray[0]}</h1>
                <span class="data-contact">${dataArray[5]}</span>
                <span>Mula kay:  ${dataArray[4]}</span>

                <p id="data-description">${dataArray[3]}</p>
                <div id="data-link">
                    <img src="${dataArray[2]}" style="max-width=100%">

                </div>
                <span class="owner" onclick="makeModalOf('${dataArray[5]},${dataArray[0]},${dataArray[1]}')" )"><a class="toButton" href="#">Mag Mensahe</a></span>

            <span id="data-price">₱ ${modalPrice}</span>
            <span id="data-time">${dataArray[6]}</span>
            <span id="data-category">${dataArray[7]}</span>
            <span id="button-close" onclick="closeModal()" class="close">&times;</span>
        </span>

    </div>
    `
        // onclick = "makeModalOf('${dataArray[5]}'
        modal.innerHTML = modal_content
        console.log(typeof (modal_content))
    }
    // ${dataArray[2]}
    // When the user clicks on <span> (x), close the modal
    function closeModal() {
        modal.style.display = "none";

    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }




    window.addEventListener('DOMContentLoaded', (event) => {
        OnloadItems()
        console.log('######STTING INTERVE')
        // setInterval(alert(), 1000);
        setInterval(function () {

            Create_RandomListItem(allItemList);
            console.log('List Item Count: ', ListItemCount)
            if (ListItemCount > 50) {
                console.log('Deleteting: ...')
                Remove_ListItem();
                Remove_ListItem();
                Remove_ListItem();
                Remove_ListItem();
                Remove_ListItem();
                Remove_ListItem();
                ListItemCount -= 50;


            }

        }, 1000);
    });
            // setInterval(Create_RandomListItem(allItemList), 1000);



</script>

{%endblock%}