{% extends "AppGarage/layout.html" %}
{% load static %}

{% block body %}

<style>
    #main-container {
        background: rgb(255, 255, 255);
        background: linear-gradient(162deg, rgba(195, 195, 195, 0.8869922969187675) 0%, rgba(173, 173, 173, 0.7301295518207283) 35%, rgba(219, 249, 255, 1) 100%);
        display: grid;
        /* grid-template-columns: repeat(auto-fill, 200px); */
        grid-template-columns: repeat(auto-fill, 200px) minmax(min-content, 33vh);
        /* grid-template-columns: 33% 33% 33%; */

        justify-content: space-evenly;
        /*  */

    }

    .ad-container {
        background-color: rgb(255, 191, 114);
        height: 30vh;
        text-align: center;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        max-width: 100%;
        height: 30vh;
        position: relative;
        /*  */
        grid-column-start: col-start 1;
        grid-column: 1 / -1;
        grid-column-start: 0;
        /* width: 3000px !important; */
        height: fit-content;
        padding-top: 3vh;
        padding-bottom: 3vh;
    }

    /* .item-Container:nth-child(6) {
    } */

    .item-Container {
        /* background: sienna; */

        overflow: auto;
        margin: 2px;

        transition: 0.3s;
        /* max-width: 300px; */
        opacity: 0.95;
        position: relative;
        /* height: 25vh;
        width: 25vh; */
        border-radius: 9px;
        /* overflow: scroll; */
        max-height: 200px;
        z-index: 0 !important;
    }





    .item-image {
        border: 0..8px solid rgb(223, 245, 191);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        /*  */
        max-width: 200px;
        max-height: 100%;
        max-width: 100%;

        z-index: 0;

        max-width: 100%;
        position: absolute;
        top: 0;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 100%;
        height: 100%;
    }

    .item-footer {
        text-align: center;
        padding: 20px 16px;
        z-index: 2 !important;
        background-color: rgba(66, 85, 137, 0.361);
        opacity: 0;
        position: inherit;
        position: relative;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        top: 50%;
        text-shadow: 0 0 5px black;
        color: white;
        /*  */
        max-height: 100%;
        max-width: 100%;

    }

    .item-footer:hover {
        background-color: rgba(39, 61, 124, 0.944);
        opacity: 1;
        z-index: 2;

    }

    .item-price {
        /* background-color: rgb(255, 123, 0); */
        background-color: rgb(255, 102, 0);
        text-shadow: 0 0 3px rgb(255, 255, 255);
        /* float: right; */
        right: 15px;
        bottom: 5px;
        position: absolute;
        padding: 5px;
        border-radius: 4px;
        z-index: 5;
    }

    .item-footer small {
        display: block;
    }
</style>


<!-- CREATING ELEMENTS WITH SCRIPTS -->
<script>

    function Create_ListContainer() {
        main_container = document.createElement('div');
        main_container.id = 'main-container';
        document.body.appendChild(main_container)
    }



    function Create_ListItem(data) { //ITEM LIST

        CreatedListItem.push(data)
        datas = ['category', 'description', 'link', 'owner', 'price', 'time', 'title'];
        insideDIV = `
                <div class="item-footer">
                    <br>
                    The Description ${data.description}
                    <small>Seller: ${data.owner}</small>
                    <small>Contact: ${data.contact}</small>
                    <small>Time: ${data.time}</small>
                    <small>Category: ${data.category}</small>
                </div>
            <img class="item-image" src="${data.link}">
            <button onclick="alert('Price: ')" class="item-price">₱ ${data.price}</button>
            <br>
            `
        itemContainer = document.createElement('div');
        itemContainer.setAttribute("class", "item-Container");
        itemContainer.innerHTML = insideDIV;
        main_container.appendChild(itemContainer);
    }
    function Remove_ListItem() {
        toRemove = document.querySelector(".item-Container");
        console.log('To Remove: ', toRemove)
        toRemove.remove()
    }
    function Create_Advertisments() {
        adContainer = document.createElement('div');
        adContainer.setAttribute("class", "ad-container");
        adContainer.innerHTML = `<div> <h1> The ADs are Created Here</h1> </div>`
        main_container.appendChild(adContainer)
    }
    async function SendRequest(url) {
        var i = 0

        let Allresponse = await fetch(url).then(response => response.json()).then(data => {
            dataCount = data.length
            var interVal = setInterval(() => {
                allItemList.push(data[i])
                i++;
                if (i >= dataCount) { // The number to pop
                    clearInterval(interVal);
                }
            }, 100);
            return data
        })
    }

</script>

<script>
    CreatedListItem = []
    allItemList = []

    // 
    Create_ListContainer()
    SendRequest('KuhainAngListing') // fetch url
    OnloadItems()

    function OnloadItems() {
        toPopUp = 0
        var PoUp = setInterval(() => {
            current = allItemList.shift()
            Create_ListItem(current.fields);
            toPopUp++;
            if (toPopUp === 8) { // number of to pop
                clearInterval(PoUp);
                Create_RandomListItem(allItemList)
                Create_RandomListItem(allItemList)
                Create_RandomListItem(allItemList)
            }
        }, 550)
    }

    function Create_RandomListItem(TheArray) {
        ArrayLength = TheArray.length
        if (ArrayLength > 0) {
            toIndex = Math.floor(Math.random() * (ArrayLength - 0) + 0);
            if (TheArray[toIndex]) {
                indexPosition = TheArray.indexOf(TheArray[toIndex])
                Position = TheArray.splice(toIndex, 1)
                if (Position[0].fields) {
                    Position = Position[0].fields
                    console.log('ye', Position)
                } else {
                    Position = Position[0]
                    console.log('nep', Position)
                }
                Create_ListItem(Position)
                return Position
            }
            console.log('No still got:  ', ArrayLength)
            Create_RandomListItem(TheArray)
        } else {
            console.log('/n Empty.. /n Creating From CreatedListItem')
            Create_RandomListItem(CreatedListItem)
        }
    }
    // INITIATE THIS TO ADD
    // Create_RandomListItem(allItemList)


</script>


<!-- SCroll -->
<script>
    window.onscroll = () => {


        if (window.innerHeight + window.scrollY >= document.body.offsetHeight) {
            // Remove_ListItem()
            Create_RandomListItem(allItemList)
        }
    };
</script>
{%endblock%}