{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    <link rel="stylesheet" href="{% static 'AppGarage/layout.css' %}">

</head>

<div id="nav-bar">

    <a href="#"></a>

</div>
<button class="openbtn" onclick="openNav()"></button>



<div id="mySidebar" class="sidebar">

    <a href="{% url 'magbenta' %}" id="button-sell">Magbenta (Sell)</a>
    <a href="{% url 'index' %}" id="button-buy">Bumili (Buy)</a>
    {% if cat %}
    <details>
        <summary>Bagay</summary>
        <ul>
            <li>
                <details id="sidebar-category">
                    <summary>Loob ng Bahay</summary>
                    <ol>
                        <!-- SendRequest -->

                        <li><a onclick="SendRequest(id)" id="{% url 'KuhainAngListing' categ='Bagay' %}">Damit</a>
                        </li>
                        <li><a onclick="SendRequest(id)" id="{% url 'KuhainAngListing' categ='Bagay' %}">Kung ano
                                ano</a>
                        </li>
                        <li><a onclick="SendRequest(id)" id="{% url 'KuhainAngListing' categ='Bagay' %}">TV</a>
                        </li>
                        <li><a onclick="SendRequest(id)" id="{% url 'KuhainAngListing' categ='Bagay' %}">Cellphone</a>
                        </li>


                    </ol>
                </details>

            </li>
        </ul>
    </details>
    <details>
        <summary>Hayop</summary>
        <ul>
            <li>
                <details id="sidebar-category">
                    <summary>Ibon</summary>
                    <ol>
                        <li><a onclick="SendRequest(id)" id="{% url 'KuhainAngListing' categ='Hayop' %}">Love Bird</a>
                        </li>
                        <li><a onclick="SendRequest(id)" id="{% url 'KuhainAngListing' categ='Hayop' %}">Sunconure</a>
                        </li>
                        <li><a onclick="SendRequest(id)" id="{% url 'KuhainAngListing' categ='Hayop' %}">Kalapati</a>
                        </li>
                    </ol>
                </details>

            </li>
        </ul>
    </details>
    <details>
        <summary>Lupa</summary>
        <ul>
            <li>
                <details id="sidebar-category">
                    <summary>Upuan o Salumpuwit</summary>
                    <ol>
                        <li>Silya sa Lamesa</li>
                        <li>Silya sa Kusina</li>
                        <li>Silya sa Bisita</li>
                    </ol>
                </details>

            </li>
        </ul>
    </details>
    <details>
        <summary>Bahay</summary>
        <ul>
            <li>
                <details id="sidebar-category">
                    <summary>Upuan o Salumpuwit</summary>
                    <ol>
                        <li>Silya sa Lamesa</li>
                        <li>Silya sa Kusina</li>
                        <li>Silya sa Bisita</li>
                    </ol>
                </details>

            </li>
        </ul>
    </details>
    <details>
        <summary>Pasyalan</summary>
        <ul>
            <li>
                <details id="sidebar-category">
                    <summary>Upuan o Salumpuwit</summary>
                    <ol>
                        <li>Silya sa Lamesa</li>
                        <li>Silya sa Kusina</li>
                        <li>Silya sa Bisita</li>
                    </ol>
                </details>

            </li>
        </ul>
    </details>
    {% endif %}
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
</div>


<script>
    function openNav() {
        document.getElementById("mySidebar").style.width = "250px";
    }

    function closeNav() {
        document.getElementById("mySidebar").style.width = "0";
    }
    Create_ListContainer()
    function Create_ListContainer() {
        main_container = document.createElement('div');
        main_container.id = 'main-container';
        document.body.appendChild(main_container)
    }

    function ClearMainContainer() {
        document.querySelector("#main-container").innerHTML = '';
    }
</script>

<script src="https://smtpjs.com/v3/smtp.js"></script>
<script src="{% static 'AppGarage/contact.js' %}"></script>
<script src="{% static 'AppGarage/layout.js' %}"></script>


<body>
    <div id="body-main">
        {% block body %}
        {% endblock %}
    </div>
    <!-- <div style="height: 1000px;"></div> -->
</body>

</html>